.works-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-inline-start: 0px;
  justify-content: center;
}

.works-list .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: $titleTextColor;
}

.works-list .card {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms $timeFunction;
}

.works-list .card:nth-child(3n) {
  margin-right: 0;
}

.works-list .card:nth-child(n + 7) {
  margin-bottom: 0;
}

.card-foto {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: $primeryWhiteColor;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms $timeFunction;
}

.card:hover .overlay {
  transform: translateY(0);
}

.card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  /* padding: 63px 24px; */
}

.works-list .card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


.works-list .item:nth-child(3n) {
  margin-right: 0;
}

.works-list-text {
  padding: 20px 24px;

  border-right: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  text-align: left;
}
